:root {
  --header-height: 3rem;
  --tabbar-height: 5rem; /* TabBar.module.css의 높이와 일치 */
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.content {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  margin-top: var(--header-height);
  padding-bottom: var(--tabbar-height); /* 추가된 부분 */
}
