.mainDeclarationBoardContainer {
  width: 100%;
  height: 80%;
  z-index: 10;
  bottom: -80%;
  background-color: #ffffff;
  border-radius: 16px 16px 0 0;

  position: absolute;
  display: flex;
  z-index: 8;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out; /* 애니메이션 속성 추가 */
}

/* mainDeclarationBoardContainer */
/* mainDeclarationBoardContainer header */
.declarationBoardHeader {
  width: 90%;
  height: 15%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* declarationBoardContent */
.declarationBoardContent {
  width: 90%;
  height: 75%;
}
.declarationBoardContent > div {
  margin-bottom: 3%;
}
.declarationTitle {
  width: 100%;
  height: 10%;
}
.declarationTitle > textarea {
  width: 100%;
  height: 100%;
}

.declarationDetail {
  width: 100%;
  height: 30%;
}
.declarationDetail > textarea {
  width: 100%;
  height: 100%;
}

.declarationImg {
  width: 100%;
  height: 60%;
}
.declarationImg > input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 0;
}
.declarationImg > label {
  width: 100%;
  height: 100%;
}
.declarationImg > label > img {
  width: 100%;
  height: 100%;
}
.uploadedImages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin-top: 10px;
}

.uploadedImages > img {
  width: 45%;
  height: 45%;
}
