:root {
  --tabbar-height: 5rem;
}

.tabs {
  width: 100%;
  height: var(--tabbar-height);
  background-color: #fff4ba;
  border-top: 1px solid #dee2e6;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.tabList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.tab img {
  width: 24px;
  height: 24px;
  margin-bottom: 0.5rem;
}
