/* session */

.agreement-header{
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    
}

.agreement-img{
    width: 100%;
    height: 35%;
}

.agreement-check{
    width: 100%;
    height: 35%;
}

.agreement-next-btn{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

/*agreement-header*/
.agreement-header > h1{
    font-size: 1.7rem;
    font-weight: bolder;
}

/*agreement-img*/
.img-center{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.img-center > img{
    width: 100%;
    height: 100%;
}

/*agreement-check*/
.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.checkbox{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

/*agreement-next-btn  */
.agreement-button-container{
    width: 90%;
}

.agreement-btn{
    width: 100%;
  }