.groupChildrenFindContainer{
    width: 93%;
    height: 100%;
    display: flex;
    gap: 3%;
    overflow-x: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.groupChildrenFindContainer::-webkit-scrollbar {
    display: none; 
}

.childInfo{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
}
.childInfo >img {
    height: 50%;
    border-radius: 50%;
}