.teacher-map-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.add-button {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.add-button > button {
  width: 90%;
  height: 3rem;
  border: 0;
  border-radius: 10px;
  background-color: #fff4ba;
}

.add-button > button > img {
  margin-left: 5px;
}

.map-section {
  width: 100%;
  height: 90%;
}
.circle-btn-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80%;
  left: 80%;
  z-index: 4;
}

.circle-button {
  width: 3rem;
  height: 3rem;
  background-color: #ffb800;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.circle-button:active {
  transform: scale(0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.circle-button:hover {
  background-color: #e0a800;
}

.circle-button img {
  width: 1.5rem;
  height: 1.5rem;
  z-index: 6;
}
